<div class="incident-create">
  <div class="row">
      <div class="col-md-12"> 
          <div class="card mb-3">
              <div class="card-header">
                 Add New Incident
                  <div [hidden]="!showSpinner">
                      <app-spinner></app-spinner>
                  </div>
              </div>
              <div class="card-body">
                                    
                    <ngb-tabset>
                            <ngb-tab title="Incident">
                            <ng-template ngbTabContent>
                                <br/>
                                    <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-content">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select [(ngModel)]="SiteId" class="form-control input-sm" style="height:34px" (ngModelChange)="loadTenant()">
                                                                <option value="0">Select Site</option>
                                                                <option *ngFor="let item of sites" [value]="item.Id" [ngValue]="item.Id">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>                 
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                            <div class="form-content">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <select [(ngModel)]="model.TenantId" class="form-control input-sm" style="height:34px">
                                                            <option value="0">Select Tenant</option>
                                                            <option *ngFor="let item of tenants" [value]="item.Id" [ngValue]="item.Id">
                                                                {{ item.Name }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>                 
                                            </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-3">
                                                        <p-calendar [style]="{'width':'95%'}" [inputStyle]="{'width':'95%'}" placeholder="Date and Time" [(ngModel)]="model.Time" dateFormat="mm/dd/yy" [showTime]="true" timeFormat="HH:mm" [showIcon]="true"></p-calendar>                         
                                                </div>
                                                <div class="col-md-3">
                                                <div class="row">
                                                <div class="col-md-6">
                                                <div class="form-content">
                                                        <div class="form-group">
                                                            <input type="number" [(ngModel)]="model.Quantity" class="form-control input-underline input-sm" id="" placeholder="Quantity">
                                                        </div>                 
                                                </div>
                                                </div>
                                                <div class="col-md-6">
                                                <div class="form-content">
                                                        <div class="form-group">
                                                            <input type="number" [(ngModel)]="model.PoliceResponse" class="form-control input-underline input-sm" id="" placeholder="Response">
                                                        </div>                 
                                                </div>
                                                </div>
                                                </div>
                        
                                                </div>
                                                <div class="col-md-3">
                                                <div class="form-content">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select [(ngModel)]="model.IncidentTypeId" class="form-control input-sm" style="height:34px" (ngModelChange)="loadReport(model.IncidentTypeId)">
                                                                <option value="0">Select Incident Type</option>
                                                                <option *ngFor="let item of incidenttypes" [value]="item.Id" [ngValue]="item.Id">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>                 
                                                </div>
                                                </div>
                                                <div class="col-md-3">
                                                <div class="form-content">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select [(ngModel)]="model.CustomTypeId" class="form-control input-sm" style="height:34px">
                                                                    <option value="0">Select Custom Type</option>
                                                                    <option *ngFor="let item of customTypes" [value]="item.Id" [ngValue]="item.Id">
                                                                        {{ item.Name }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>                 
                                                    </div>
                                                </div>
                                            </div>
                                
                                
                                            
                        
                                        <div class="row">
                                                <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">Guards</div>
                                                            <div class="card-body">
                                                                    <p-pickList [source]="Guards" [showSourceControls]="false" [showTargetControls]="false" [target]="SelectedGuards" sourceHeader="Guards" targetHeader="Selected" [responsive]="true" filterBy="Name" 
                                                                            dragdrop="true" sourceFilterPlaceholder="Search by Name" targetFilterPlaceholder="Search by Name" [sourceStyle]="{'height':'150px'}" [targetStyle]="{'height':'150px'}">
                                                                        <ng-template let-guard pTemplate="item">
                                                                            <div class="ui-helper-clearfix">
                                                                                <img src="../assets/images/img_avatar.png" style="display:inline-block;margin:2px 0 2px 2px" width="40">
                                                                                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{guard.Name}}</div>
                                                                            </div>
                                                                        </ng-template>
                                                                    </p-pickList>
                                                            </div>
                                                        </div>
                                                    
                                                </div>
                                            
                                        </div>
                                        <br/>
                                        <div class="row">
                                                <div class="col-md-12">
                                                        <div class="form-content">
                                                                <div class="form-group">
                                                                    <input type="text" [(ngModel)]="model.Description" class="form-control input-underline input-sm" id="" placeholder="Description">
                                                                </div>                 
                                                            </div>   
                                                </div>
                                        </div>
                                        
                            </ng-template>
                            </ngb-tab>
                        
                            <ngb-tab title="Report" [disabled]="!selectedIncidentType.IsReportRequired">
                            <ng-template ngbTabContent>
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="display:inline;">
                                                <select [(ngModel)]="reportTypeSelected" class="form-control input-sm" style="height:34px;width:200px;display:inline">
                                                    <option value="0">Select Report Type</option>
                                                    <option *ngFor="let item of reportTypes" [value]="item.Id" [ngValue]="item.Id">
                                                        {{ item.Name }}
                                                    </option>
                                                </select>
                                                <button [disabled]="reportTypeSelected==0 || reportTypeSelected == undefined" class="btn btn-sm btn-success" (click)="addReport()">Add Report</button>   
                                        </div>
                                                                              
                                    </div>
                                    <div class="col-md-12">
                                        <div *ngFor="let report of Reports; let dx = index">
                                            <br/>
                                            <div class="card" *ngIf="report.ReportTypeId == 1">                                                 
                                                    <div class="card-header">
                                                        Handelserapport
                                                        <button (click)="removeReport(dx)" class="btn btn-sm btn danger pull-right">Remove</button>
                                                    </div>
                                                    <div class="card-body">
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                    <input type="text" [(ngModel)]="report.AdditionalText" class="form-control input-underline input-sm" id="" placeholder="Additional Text">
                                                                </div>                 
                                                            </div>  
                                                            
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <input type="checkbox" [(ngModel)]="report.PoliceReport"> Police Report &nbsp;
                                                                </div>                 
                                                            </div>  

                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                    <input type="text" [(ngModel)]="report.Resolution" class="form-control input-underline input-sm" id="" placeholder="Resolution">
                                                                </div>                 
                                                            </div>  

                                                            <select [(ngModel)]="report.GuardId" class="form-control input-sm" style="height:34px">
                                                                <option value="0">Select Guard</option>
                                                                <option *ngFor="let item of Guards" [value]="item.Id" [ngValue]="item.Id">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                    </div>
                                            </div>
                                            <div class="card" *ngIf="report.ReportTypeId == 2">                                                 
                                                    <div class="card-header">
                                                        Ryckrapport
                                                        <button (click)="removeReport(dx)" class="btn btn-sm btn danger pull-right">Remove</button>
                                                    </div>
                                                    <div class="card-body">
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                    <input type="text" [(ngModel)]="report.IncidentText" class="form-control input-underline input-sm" id="" placeholder="Incident Text">
                                                                </div>                 
                                                            </div>  
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                    <input type="text" [(ngModel)]="report.AdditionalText" class="form-control input-underline input-sm" id="" placeholder="Additional Text">
                                                                </div>                 
                                                            </div>  
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <input type="checkbox" [(ngModel)]="report.PoliceReport"> Police Report &nbsp;
                                                                </div>                 
                                                            </div>  
                                                            <select [(ngModel)]="report.GuardId" class="form-control input-sm" style="height:34px">
                                                                <option value="0">Select Guard</option>
                                                                <option *ngFor="let item of Guards" [value]="item.Id" [ngValue]="item.Id">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                    </div>
                                            </div>
                                            <div class="card" *ngIf="report.ReportTypeId == 3">                                                 
                                                    <div class="card-header">
                                                        Oppettidsrapport
                                                        <button (click)="removeReport(dx)" class="btn btn-sm btn danger pull-right">Remove</button>
                                                    </div>
                                                    <div class="card-body">
                                                           
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" placeholder="Date" [(ngModel)]="report.Date" dateFormat="mm/dd/yy"></p-calendar>                         
                                                                </div>                 
                                                            </div>  
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [(ngModel)]="report.Time" [timeOnly]="true"></p-calendar>
                                                                </div>                 
                                                            </div>  
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <input type="text" [(ngModel)]="report.Cause" class="form-control input-underline input-sm" id="" placeholder="Cause">
                                                                </div>                 
                                                            </div>  
                                                            <select [(ngModel)]="report.GuardId" class="form-control input-sm" style="height:34px">
                                                                <option value="0">Select Guard</option>
                                                                <option *ngFor="let item of Guards" [value]="item.Id" [value]="item.Id" [selected]="model.CustomTypeId === item.Id">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                    </div>
                                            </div>
                                            <div class="card" *ngIf="report.ReportTypeId == 4">                                                 
                                                    <div class="card-header">
                                                            Skadegorelse / Klotterrapport
                                                        <button (click)="removeReport(dx)" class="btn btn-sm btn danger pull-right">Remove</button>
                                                    </div>
                                                    <div class="card-body">
                                                            <div class="form-content">
                                                                    <div class="form-group">
                                                                            <input type="text" [(ngModel)]="report.PoliceAuthority" class="form-control input-underline input-sm" id="" placeholder="Police Authority">
                                                                    </div>                 
                                                                </div> 
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" placeholder="Date" [(ngModel)]="report.Date" dateFormat="mm/dd/yy"></p-calendar>                         
                                                                </div>                 
                                                            </div>  
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <input type="text" [(ngModel)]="report.Plaintiff" class="form-control input-underline input-sm" id="" placeholder="Plaintiff">
                                                                </div>                 
                                                            </div> 
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <input type="text" [(ngModel)]="report.Address" class="form-control input-underline input-sm" id="" placeholder="Address">
                                                                </div>                 
                                                            </div> 
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <input type="text" [(ngModel)]="report.Phone" class="form-control input-underline input-sm" id="" placeholder="Phone">
                                                                </div>                 
                                                            </div> 
                                                            <select [(ngModel)]="report.GuardId" class="form-control input-sm" style="height:34px">
                                                                <option value="0">Select Guard</option>
                                                                <option *ngFor="let item of Guards" [value]="item.Id" [value]="item.Id" [selected]="model.CustomTypeId === item.Id">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                            <br/>
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <input type="text" [(ngModel)]="report.Location" class="form-control input-underline input-sm" id="" placeholder="Location">
                                                                </div>                 
                                                            </div> 
                                                            <div class="form-content">
                                                                <div class="form-group">
                                                                        <input type="text" [(ngModel)]="report.AdditionalText" class="form-control input-underline input-sm" id="" placeholder="AdditionalText">
                                                                </div>                 
                                                            </div> 
                                                    </div>
                                            </div>
                                        </div>
                              
                                    </div>
                                </div>
                            </ng-template>
                            </ngb-tab>
                    </ngb-tabset>                            
              </div>
              <div class="card-footer">
                  <button type="button" [disabled]="model.TenantId == 0" (click)="saveChanges()" class="btn btn-success rounded-btn"> Save </button>&nbsp;
                  <a class="btn btn-default rounded-btn" [routerLink]="['/incidents']"> Cancel </a>
              </div>
          </div>
      </div>
  </div>
</div>




