<div class="tag">
    <div class="row">
        <div [ngClass]="listCol">
            <div class="card">
                <div class="card-header sub-header">
                   List of Tags
                   <div class="pull-right">
                       <a href="/tags/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Tag </a>&nbsp;
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <app-tags-list #tagList></app-tags-list>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
  </div>
  