<div [hidden]="!showSpinner">
  <app-spinner></app-spinner>
</div>
<div id="custom-type-list">
  <table class="table table-hover table-striped table-bordered table-sm">
      <thead>
      <tr>
          <th [hidden]="true">Id</th>
          <th>Name</th>
          <th>CreatedDate</th>
          <th>LastUpdatedDate</th>
          <th style="text-align:center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr [hidden]="totalItems > 0">
              <td colspan="7" style="text-align: center;">
                  No Records to show
              </td>
      </tr>
      <tr *ngFor="let item of packageData | async | 
      paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }"
      style="cursor:pointer" (click)="onPreview(item)">
          <td [hidden]="true">{{item.Id}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.CreatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>{{item.LastUpdatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td style="text-align:center">
              <a (click)="editCustomType(item.Id)"><i class="warning fa fa-pencil"></i></a> &nbsp;
          </td>
      </tr>  
  </table>
  <br />
  <div class="pull-right">
      <pagination-controls (pageChange)="loadData($event)"></pagination-controls> 
  </div>
</div>
