<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="site-list">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr>
            <!-- <th style="text-align:center">Status</th> -->
            <th *ngIf="!isAdmin">Account Name</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Phone</th>
            <th>Contact Person</th>
            <th *ngIf="isAdmin" style="text-align:center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr [hidden]="totalItems > 0">
                <td colspan="9" style="text-align: center;">
                    No Records to show
                </td>
        </tr>
        <tr *ngFor="let item of packageData | async  | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }"
        style="cursor:pointer" (click)="editAccountSite(item.AccountId)">
            <!-- <td class="status-col" style="text-align:center">
                    <i [hidden]="item.IsActive == 0" style="color:green" class="fa fa-check-circle"></i>
                    <i [hidden]="item.IsActive == 1" style="color:red" class="fa fa-exclamation-circle"></i>
                </td> -->
            <td *ngIf="!isAdmin">{{ item.Account.Name }} </td>
            <td>{{ item.Name }} </td>
            <td>{{ item.Address }} </td>
            <td>{{ item.City }}</td>
            <td>{{ item.PostalCode }}</td>
            <td>{{ item.PhoneNumber }} </td>
            <td>{{ item.ContactPerson }}</td>
            <td *ngIf="isAdmin" style="text-align:center">
                <a (click)="editSite(item.Id)"><i style="color:#ffc107" class="fa fa-pencil"></i></a> &nbsp;
            </td>
        </tr>  
    </table>
    <br />
    <div class="pull-right">
        <pagination-controls (pageChange)="loadData($event)"></pagination-controls> 
    </div>
</div>

<!-- <tr>
<td style="text-align:center"><i style="color:green" class="fa fa-check-circle"></i></td>
<td>Stockholm Palace</td>
<td>Hantverkargatan 1, 111 52</td>
<td>Stockholm</td>
<td>111 52</td>
<td>+46 8 508 290 00</td>
<td>Ragnar Östberg / +46 8 508 290 00</td>
</tr>
<tr>
<td style="text-align:center"><i style="color:green" class="fa fa-check-circle"></i></td>
<td>Arninge Centrum</td>
<td>Hantverkargatan 1, 111 52</td>
<td>Stockholm</td>
<td>111 52</td>
<td>+46 8 508 290 00</td>
<td>Ragnar Östberg / +46 8 508 290 00</td>
</tr>
<tr>
<td style="text-align:center"><i style="color:green" class="fa fa-check-circle"></i></td>
<td>Turning Torso</td>
<td>Hantverkargatan 1, 111 52</td>
<td>Stockholm</td>
<td>111 52</td>
<td>+46 8 508 290 00</td>
<td>Ragnar Östberg / +46 8 508 290 00</td>
</tr>
<tr>
<td style="text-align:center"><i style="color:green" class="fa fa-check-circle"></i></td>
<td>Scandic Victoria Tower</td>
<td>Hantverkargatan 1, 111 52</td>
<td>Stockholm</td>
<td>111 52</td>
<td>+46 8 508 290 00</td>
<td>Ragnar Östberg / +46 8 508 290 00</td>
</tr>
<tr>
<td style="text-align:center"><i style="color:green" class="fa fa-check-circle"></i></td>
<td>Ericsson Globe</td>
<td>Hantverkargatan 1, 111 52</td>
<td>Stockholm</td>
<td>111 52</td>
<td>+46 8 508 290 00</td>
<td>Ragnar Östberg / +46 8 508 290 00</td>
</tr>
<tr>
<td style="text-align:center"><i style="color:green" class="fa fa-check-circle"></i></td>
<td>Storykyrkan</td>
<td>Hantverkargatan 1, 111 52</td>
<td>Stockholm</td>
<td>111 52</td>
<td>+46 8 508 290 00</td>
<td>Ragnar Östberg / +46 8 508 290 00</td>
</tr>             -->