$topnav-background-color:#428bca;
:host {
    .navbar {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 56px;
        background-color: $topnav-background-color;
        border-bottom: 1px solid #215684;
        .navbar-brand {
            color: #fff;
            margin-right: 0px;
            width: 100%;
            display: grid;
        }
        .nav-item > a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        .navbar-brand > span {
            font-size: 13px;
        }
        
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .account-app-section{
        width: 235px;
        background-color:#428bca;
        padding-left: 5px;
        height: 100%;
        padding-top: 0px;
        padding-left: 20px;
        //background: url('/assets/images/blue-buildings.jpg') center center no-repeat;
    }
}
