<div class="modules">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                   List of Modules
                   <!-- <div class="pull-right">
                       <a href="/module/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Module </a>&nbsp;
                   </div> -->
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <app-modules-list #modulesList></app-modules-list>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
