<div class="user-module-role">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div [hidden]="!showSpinner">
                        <app-spinner></app-spinner>
                    </div>
                    Edit Module Rights
                     <div class="pull-right">
                            <button type="button" class="btn btn-xs btn-success rounded-btn"><i class="fa fa-check-circle fa-lg"></i> Save </button>&nbsp;
                            <a class="btn btn-xs btn-secondary rounded-btn" [routerLink]="['/users']"><i class="fa fa-chevron-circle-left fa-lg"></i> Cancel </a>&nbsp;
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="component-header important">
                            {{ model.FirstName }} {{ model.LastName }} ( {{ model.Role.Description }} )
                        </div>
                        <div class="component-content">
                            <table id="user-module-control-grid" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Objects
                                        </th>
                                        <th *ngFor="let module of modules">
                                                {{ module.ShortName.charAt(0).toUpperCase() + module.ShortName.slice(1) }}
                                        </th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let controlSites of sites">
                                        <td>
                                            {{ controlSites.Name }}
                                        </td>
                                        <td *ngFor="let controlModules of modules">
                                            <select (change)="onRoleChange($event, controlModules.Id, controlSites.Id)" class="form-control input-sm">
                                                <option *ngFor="let role of roles" value="{{role.value}}" [ngValue]="role.value" [selected]="IsRoleSelected(role.value, controlModules.Id, controlSites.Id)"> {{ role.display }} </option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
