<div class="incident-type">
  <div class="row">
      <div [ngClass]="listCol">
          <div class="card">
              <div class="card-header sub-header">
                 List of Incident Types
                 <div class="pull-right">
                     <a href="/incident-types/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Incident Type </a>&nbsp;
                 </div>
              </div>
              <div class="card-body">
                  <div class="card-body table-responsive">
                      <app-incident-types-list #incidentTypeList></app-incident-types-list>
                  </div>
              </div>
          </div>
      </div>
    
  </div>
</div>
