﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*SPECIFICS*/
.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse {
    background-color: #428bca !important;
}

.side-nav {
    background-color: #428bca !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #eee;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, .5);
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

.alert {
    padding: 10px !important;
}

/*UTILITIES*/

.pad-10 {
    padding: 10px!important;
}

.pad-x-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.pad-x-20 {
    padding:20px 0px;
}

.pad-x-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pad-y-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.mar-bot-10 {
    margin-bottom: 10px!important;
}

.mar-bot-5 {
    margin-bottom: 5px !important;
}

.default {
    color: #777;
}
.primary {
    color: #337ab7;
}
.success {
    color: #5cb85c;
}

.warning {
    color: #f0ad4e;
}

.danger {
    color: #d9534f;
}

.info {
    color: #5bc0de;
}

/*TYPEAHEAD*/
.twitter-typeahead {
    width: 100%!important;
}
.tt-menu {
    width: 100% !important;
    border-bottom: 1px solid #428bca;
    border-left: 1px solid #428bca;
    border-right: 1px solid #428bca;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 5px;
    background-color: white !important;
}
.tt-dataset {
    background-color: white !important;
}
.tt-selectable {
    padding: 5px 5px 1px 5px !important;
}

    .tt-selectable:hover, .tt-selectable:hover span {
        cursor: pointer;
        background-color: #428bca;
        color: white;
    }

.tt-selectable-detail {
    color:#808080;
    font-size: 11px;
}
    .tt-selectable-detail:hover {
        color:white;
    }
.dataTable {
    width: 100%!important;
    font-size: 13px;
}

.table-header {
    background-color: #428bca;
    color: #fff;
}

.table-actions {
    text-align: center;
}

.dataTable .selected td {
    background-color: #acbad4!important;
}

h3.pull-left {
    vertical-align: middle !important;
    line-height: 30px !important;
    font-weight: bold;
    text-transform: uppercase;
}

.panel-body {
    padding: 10px 15px 10px 15px;
}

.panel-title.sm-btns {
    line-height: 20px !important
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display:none;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.5);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*grid*/
.table-bordered > tbody > tr > td {
    /*border: 1px solid #fff;*/
}

#list-loan-grid_wrapper #list-loan-grid_info {
    float: right;
}

.main-control-body {
    height: 650px;
    overflow-y: scroll;
    border-bottom: 5px solid #bce8f1;
}

/*modal*/
.modal-header {
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: 1px solid #bce8f1;
    border-radius: 6px 6px 0px 0px;
}
.modal-title {
    font-weight: bold;
    text-transform: uppercase;
}

/*labels*/
.form-span-label {
    font-size: 11px;
    display: block;
    padding-bottom: 5px;
    color: #428bca;
    padding-top: 5px;
}

.form-span-label-nb {
    font-size: 11px;
    color: #428bca;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-label-symbol {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
}

#details-loan .form-line {
    border-bottom: 1px #d6d2d2 solid;
}

.form-line .input-group {
    width: 100%;
}
.form-label-symbol {
    float:right;
}
.col-form-label-sm {
    font-size:14px;
    font-weight:normal;
}

#confirmation-audit-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 13px;
}