<div class="account">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                   List of Accounts
                   <div class="pull-right">
                       <a href="/accounts/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Account </a>&nbsp;
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <app-accounts-list #accountsList></app-accounts-list>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
