<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a *ngIf="isSuperAdmin && !withSuperAccess" routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <div *ngIf="isSuperAdmin && !withSuperAccess" class="nested-menu">
            <a class="list-group-item" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('administration')">
                <span><i class="fa fa-cogs"></i>&nbsp;{{ 'Administration' | translate }} <b class="caret"></b></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'administration'">
                <ul class="submenu">
                    <li [hidden]="!setModuleVisibilityByRole('accounts')">
                        <a [routerLink]="['/accounts']"><span>{{ 'Accounts' | translate }}</span></a>
                    </li>
                    <li [hidden]="!setModuleVisibilityByRole('account-modules')">
                        <a [routerLink]="['/accounts/modules']"><span>{{ 'Modules' | translate }}</span></a>
                    </li>
                    <li [hidden]="!setModuleVisibilityByRole('sites')">
                        <a [routerLink]="['/objects']"><span>{{ 'Objects' | translate }}</span></a>
                    </li>
                     <li [hidden]="!setModuleVisibilityByRole('users')">
                        <a [routerLink]="['/users']"><span>{{ 'Users' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div *ngIf="!isSuperAdmin || withSuperAccess">
            <a [hidden]="!setModuleVisibilityByRole('administration')" [routerLink]="['/accounts/' + accountId + '/edit/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-cogs"></i>&nbsp;{{ 'Administration' | translate }}
            </a>
        </div>

        <div class="nested-menu">
                <a [hidden]="!setModuleVisibilityByRole('incidents')" (click)="addExpandClass('incidents')" [routerLink]="['/incidents']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-wheelchair"></i>&nbsp;{{ 'Incidents' | translate }}
                </a>
                <li class="nested" [class.expand]="showMenu === 'incidents'">
                    <ul class="submenu">
                            <a [hidden]="!setModuleVisibilityByRole('custom-types')" [routerLink]="['/custom-types']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-ellipsis-h"></i>&nbsp;{{ 'Custom Types' | translate }}
                            </a>                           
                            <a [hidden]="!setModuleVisibilityByRole('incident-types')" [routerLink]="['/incident-types']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-ellipsis-v"></i>&nbsp;{{ 'Incident Types' | translate }}
                            </a>     
                             <a [hidden]="!setModuleVisibilityByRole('tags')" [routerLink]="['/tags']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-hashtag"></i>&nbsp;{{ 'Tags' | translate }}
                            </a>  
                            <a [hidden]="!setModuleVisibilityByRole('tag-logs')" [routerLink]="['/tag-logs']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-list-alt"></i>&nbsp;{{ 'Tag Logs' | translate }}
                            </a>
                    </ul>
                </li>
        </div>
            
        <a [hidden]="!setModuleVisibilityByRole('guards')" [routerLink]="['/guards']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-shield"></i>&nbsp;{{ 'Guards' | translate }}
        </a>

        <a [hidden]="!setModuleVisibilityByRole('accident')" [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-wheelchair"></i>&nbsp;{{ 'Accident / Incedent' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('accident-folder')" [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-folder"></i>&nbsp;{{ 'Accident Folder' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('activity')" [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-refresh"></i>&nbsp;{{ 'Activity' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('contract')" [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-certificate"></i>&nbsp;{{ 'Contract' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('guard-folder')" [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-folder-o"></i>&nbsp;{{ 'Guard Folder' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('medias')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-video-camera"></i>&nbsp;{{ 'Medias' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('issues')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bug"></i>&nbsp;{{ 'Issues' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('loans')" [routerLink]="['/loans']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-check-circle"></i>&nbsp;{{ 'Loan' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('leasing')" [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-hospital-o"></i>&nbsp;{{ 'Leasing' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('security')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-tasks"></i>&nbsp;{{ 'Security Training' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('tenants')" [routerLink]="['/tenants']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-building-o"></i>&nbsp;{{ 'Tenants' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('written-statement')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-pencil-square"></i>&nbsp;{{ 'Written Statement' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('support')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-life-ring"></i>&nbsp;{{ 'Support' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('password')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-lock"></i>&nbsp;{{ 'Password' | translate }}
        </a>
        <a [hidden]="!setModuleVisibilityByRole('signin-logout')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-power-off"></i>&nbsp;{{ 'Log Out' | translate }}
        </a>
        <!-- HEADER FIELDS -->
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
