<div class="guard">
  <div class="row">
      <div [ngClass]="listCol">
          <div class="card">
              <div class="card-header sub-header">
                 List of Guards
                 <div class="pull-right">
                     <a href="/guards/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Guard </a>&nbsp;
                 </div>
              </div>
              <div class="card-body">
                  <div class="card-body table-responsive">
                      <app-guard-list #guardList></app-guard-list>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
