<div class="custom-type-create">
  <div class="row">
      <div class="col-md-12"> 
          <div class="card mb-3">
              <div class="card-header">
                 Edit Guard
                  <div [hidden]="!showSpinner">
                      <app-spinner></app-spinner>
                  </div>
              </div>
              <div class="card-body">
                  <div class="form-content">
                      <div class="form-group">
                          <div class="form-line">
                            <select [(ngModel)]="model.SiteId" class="form-control input-sm" style="height:34px">
                              <option value="0">Select Object</option>
                              <option *ngFor="let item of sitesList" [value]="item.Id" [selected]="model.SiteId === item.Id">
                                  {{ item.Name }}
                              </option>
                          </select>
                          </div>
                      </div>                 
                  </div>
                  <div class="form-content">
                      <div class="form-group">
                          <input type="text" [(ngModel)]="model.Name" class="form-control input-underline input-sm" id="" placeholder="Name">
                      </div>                 
                  </div>
                  
                
              </div>
              <div class="card-footer">
                  <button type="button" [disabled]="!model.Name" (click)="saveChanges()" class="btn btn-success rounded-btn"> Save </button>&nbsp;
                  <a class="btn btn-default rounded-btn" [routerLink]="['/guards']"> Cancel </a>
              </div>
          </div>
      </div>
  </div>
</div>
