.mobile {
    position: relative;
    height:100%;
    width: 100%;
}
.main-btn
{
    height: 65px;
    font-weight: bold;
}

.code-header {
    text-align:center;
    margin-bottom: 10px;
    background-color: #dee2e6;
}
/* MOBILE */
.mobile-main-header {
    padding-bottom: 5px;
    background-color: #2e5475;
    margin-left: -15px!important;
    margin-right: -15px!important;
    margin-top: -10px;
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
    display: flex;
    text-align: center;
}
.mobile-main-header h5 {
    color: #fff;
    font-weight: bold;
    padding-top: 5px;
    /* padding-right:12px; */
}
.navigate-back{
    color: #fff;
    padding-left: 12px;
}
/* MOBILE LIST */
.mobile-list-content{
    display: flex;
    overflow: hidden;
    height: calc(100vh - 50px);
    /* margin-top: -100px; */
    /* padding-top: 100px; */
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
.mobile-list-items {
    list-style: none;
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    flex: 1;
}
.mobile-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    height: 40px;
}
.mobile-list-footer {
    position: fixed;
    bottom: 0px;
    overflow: hide;
    width: 100%;
}

.mobile-list-norecord{
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    top: 30%;
    color: #6b7075;
}

.mobile-list-norecord small {
    font-size: 13px;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
}

.list-group-item:first-child, a.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item, a.list-group-item {
    margin-bottom: 0;
    border: 0 none;
    border-bottom: 1px solid #ddd;
}

#loans-list {
    margin-top: 0px!important;
    margin-left: -15px!important;
    margin-right: -15px!important;
}
#loans-list a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-weight: bold;
}

.mobile-item-with-image {
    display: flex;
}
.mobile-loan-avatar {
    padding-right: 15px;
}
.mobile-loan-content {
    width: 100%;
}
.mobile-list-header input {
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
}
.mobile-loan-date {
    margin-right: 20px;
}

#loans-list .toggle-detail {
    vertical-align: middle;
    line-height: 50px;
    /* padding-right: 2px;
    background-color: #3d81bb;
    color: #fff;
    padding-left: 2px; */
}
.mobile-tenant-logo {
    background-color: #cac5c5;
    border-radius: 25px;
    border: 1px solid #cccccc;
}
.mobile-loan-id {
    font-weight:bold;
    font-size:25px;
    padding-top: 5px;
}
/* SWITCH */
/* w3 schools */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

.info-banner .alert {
   margin-bottom: 5px !important;
}

/* FORMS */
.mobile-form-line {
    border-bottom: 1px solid #ced4da;
}
.mobile-form-control {
    border:0px!important;
    border-radius: 0px!important;
    transition:none !important;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem 0.375rem 0.15rem;
    font-size: 0.85rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    font-weight: bold;
}
.mobile-form-control:focus {
    outline: none;
}

.header-navigate {
    width: 10%;
}
.header-title {
    width: 70%;
}
.header-title h5 {
    text-align: center;
    padding-left: 55px;
    font-size: 16px;
    padding-top: 10px;
}

.header-title-single {
    width:100%!important;
}

.header-title-single h5 {
    padding-left: 0px!important;
} 

.header-step-navigation {
    width: 20%;
}
.header-step-navigation small {
    color: #fff;
    padding-right: 12px;
}

.form-span-label{
    padding-bottom: 0px;
    padding-top: 0px;
}

.mobile-btn-secondary {
    background-color: #2e5475!important;
    border-color: #2e5475!important;
    color:#fff;
}

#customer-search {
    width:100%;
}