<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="site-list">
    <table class="table table-hover table-striped table-bordered  table-sm">
        <thead>
        <tr>
            <!-- <th style="text-align:center">Status</th> -->
            <th>Tenant / Brand</th>
            <th>Site Manager</th>
            <th>Mobile</th>
            <th>Email</th>
            <th style="text-align:center">Flag</th>
            <th [hidden]="!isAdminOrUserEditor" style="text-align:center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr [hidden]="totalItems > 0">
                <td colspan="6" style="text-align: center;">
                    No Records to show
                </td>
        </tr>
        <tr *ngFor="let item of packageData | async  | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }"
        style="cursor:pointer">
            <!-- <td class="status-col" style="text-align:center">
                    <i [hidden]="item.IsActive == 0" style="color:green" class="fa fa-check-circle"></i>
                    <i [hidden]="item.IsActive == 1" style="color:red" class="fa fa-exclamation-circle"></i>
                </td> -->
            <td>{{ item.Name }} </td>
            <td>{{ item.SiteManagerName }} </td>
            <td>{{ item.SiteManagerMobilePhone }} </td>
            <td>{{ item.SiteManagerEmail }}</td>
            <td style="text-align:center">
                <span [hidden]="item.Flag == true" class="badge badge-success">FALSE</span>
                <span [hidden]="item.Flag == false" class="badge badge-danger">TRUE</span>
            </td>
            <td [hidden]="!isAdminOrUserEditor" style="text-align:center">
                <a (click)="editTenant(item.Id)"><i style="color:#ffc107" class="fa fa-pencil"></i></a> &nbsp;
            </td>
        </tr>  
    </table>
    <br />
    <div class="pull-right">
        <pagination-controls (pageChange)="loadData($event)"></pagination-controls> 
    </div>
</div>
